<li class="ma-app-list-item">
    <a href="/app/detail/{{ .ID }}">
        <div class="ma-app-list-item-image" style="background-image: url('{{ .MainImage }}');">
            <div class="ma-image-ribon">
                {{if eq .AppInfo.ProjectState.ID "1" }}
                <p><span>募集中</span></p>
                {{end}}
            </div>
        </div>
        <div class="ma-app-list-item-content">
            <div class="ma-app-list-item-title"><h4>{{ .Name }}</h4></div>
            <section class="ma-app-list-item-description">
                <!-- show original text in list -->
                <p>{{ .Description }}</p>
            </section>
            <section class="ma-app-list-item-member-wrap">
                {{range .Members }}
                    <img class="img-rounded ma-profile-image" src="{{ .IconImageURL }}">
                {{end}}
            </section>
        </div>
        <div class="ma-app-list-item-toolbar">
            <!-- skip to show ID 0 -->
            {{if ne .Category.ID "0" }}<div class="ma-tag">{{ .Category }}</div>{{end}}
            {{if ne .Platform.ID "0" }}<div class="ma-tag">{{ .Platform }}</div>{{end}}
            {{if ne .Language.ID "0" }}<div class="ma-tag">{{ .Language }}</div>{{end}}
            {{if ne .Area.ID "0" }}<div class="ma-tag">{{ .Area }}</div>{{end}}
            <span class="ma-star">
                <span class="ma-star">
                    <figure class="ma-app-star-count">
                        <figcaption class="star">★</figcaption>
                        <strong class="count">{{ .StarCount }}</strong>
                    </figure>
                </span>
                <span class="ma-app-comment-count">
                    <img class="comment" src="https://res.cloudinary.com/hcod0wyyv/image/upload/img/icon-comment.png">
                    <strong class="count">{{ len .Discussions }}</strong>
                </span>
            </span>
        </div>
    </a>
</li>
