<li class="ma-app-list-item">
    <a href="/app/detail/{{ .ID }}">
        <div class="ma-app-list-item-image">
            <img src="{{ .MainImage }}" alt="{{ .Name }}">
        </div>
        <div class="ma-app-list-item-content">
            <div class="ma-app-list-item-title">{{ .Name }}</div>
            <section class="ma-app-list-item-description">
                {{ .Description }}
            </section>
            <section class="ma-app-list-item-member-wrap">
                {{range .Members }}
                    <img class="img-rounded ma-profile-image" src="{{ .IconImageURL }}">
                {{end}}
            </section>
        </div>
        <div class="ma-app-list-item-toolbar">
            <div class="ma-tag">{{ .Category }}</div>
            <div class="ma-tag">{{ .Platform }}</div>
            <div class="ma-tag">{{ .Language }}</div>
            <div class="ma-tag">{{ .Area }}</div>
            <span class="ma-star">
                <span class="ma-star">
                    <figure class="ma-app-star-count">
                        <figcaption class="star">★</figcaption>
                        <strong class="count">{{ .StarCount }}</strong>
                    </figure>
                </span>
                <span class="ma-app-comment-count">
                    <img class="comment" src="/img/icon-comment.png">
                    <strong class="count">{{ len .Discussions }}</strong>
                </span>
            </span>
        </div>
    </a>
</li>
