<div class="col-md-3 col-sm-3 col-xs-6 ma-app-tile-wrap">
    <a href="/app/detail/{{ .ID }}">
        <div class="ma-app-tile">
            <div class="ma-app-tile-image">
                <img src="{{ .MainImage }}" alt="{{ .Name }}">
            </div>
            <div class="ma-app-tile-title">{{ .Name }}</div>
            <div class="ma-app-tile-toolbar">
                <figure class="ma-app-star-count">
                    <figcaption class="star">★</figcaption>
                    <strong class="count">{{ .StarCount }}</strong>
                </figure>
            </div>
        </div>
    </a>
</div>