<div class="container">
    <div class="social">
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=561154400651504";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
            <div class="fb-like" data-href="https://meetapp-dev.herokuapp.com" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://meetapp-dev.herokuapp.com/" data-via="" data-lang="en">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="col">
               <h4>MeetAppについて</h4>
                   <ul>
                        <li><a href="/getting_started">このサービスの使い方</a></li>
                        <li><a href="/faq">よくある質問</a></li>
                        <li><a href="/terms">利用規約</a></li>
                        <li><a href="/privacy">プライバシーポリシー</a></li>
                        <li><a href="/contacts">お問い合わせ</a></li>
                    </ul>
             </div>
        </div>
        <div class="col-md-4">
            <div class="col">
                <h4>カテゴリ別に探す</h4>
                <div>
                  <ul class="ma-constant-footer-list" data-constant="category"></ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col">
                <h4>エリア別に探す</h4>
                <div>
                  <ul class="ma-constant-footer-list" data-constant="area"></ul>
                </div>
            </div>
        </div>
    </div>
    <div class="rights">
        <p>Copyright &copy; 2015</p>
        <p>Created by DevMorning</p>
    </div>
</div>