<meta charset="UTF-8">
<title>{{ .Title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="description" content="MeetAppは趣味でサクッと気軽にアイデアを実現する開発仲間を見つけるサービスを提供します。あなたの開発アイデアを実現するデザイナーやエンジニアの仲間を探そう">
<meta property="og:description" content="MeetAppは趣味でサクッと気軽にアイデアを実現する開発仲間を見つけるサービスを提供します。あなたの開発アイデアを実現するデザイナーやエンジニアの仲間を探そう">
<meta name="keywords" content="meetapp, 趣味, 開発, 求人, 企画, エンジニア, デザイナー, hobby, development, job, engineer, designer">
<meta property="og:title" content="MeetApp - 開発アイデアを実現する仲間を探そう">
<meta property="og:image" content="https://meetapp.tokyo/img/logo.png">
<meta property="og:url" content="https://meetapp.tokyo/">
<meta property="og:type" content="article">
<meta property="og:site_name" content="MeetApp">
<link rel="shortcut icon" href="/favicon.ico">
<link rel="stylesheet" href="/css/main.css">
