<nav class="navbar navbar-default navbar-fixed-top {{if not .Config.User.IsEmpty }}ma-nav-login{{end}}" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <!-- mobileで表示されるglobal menu -->
            <div class="ma-nav-mobile">
                <!-- mobileで表示されるnotification -->
                <span class="ma-nav-mobile-dropdown dropdown ma-nav-notification" style="visibility: hidden;">
                    <a data-toggle="dropdown" class="ma-nav-notification-link dropdown-toggle" role="button" href="javascript:;"><span class="badge">0</span></a>
                    <ul role="menu" class="dropdown-menu pull-right ma-nav-notification-dropdown"></ul>
                </span>
                <!-- mobileでprofile画像dropdown -->
                <a class="ma-nav-mobile-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="fa fa-bars fa-lg">Menu <b class="caret"></b></span>
                    <span class="ma-nav-login-profile-image">
                        <img class="img-rounded" src="{{ .Config.User.IconImageURL }}"><b class="caret"></b>
                    </span>
                </a>
            </div>
            <!-- 共通ロゴ -->
            <a class="navbar-brand" href="/">
            <img src="/img/logo.png" alt="" class="logo">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!-- PCではglobal nav, mobileではdropdonメニューとして表示 -->
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/about">使い方</a></li>
                <li><a href="/app/list">開発アイデアを探す</a></li>

                {{if .Config.User.IsEmpty }}
                <!-- Login してなかったら -->
                <li><a href="/login">開発アイデアを登録する</a></li>
                <li><a href="/login">ログイン・登録</a></li>
                {{ else }}
                <!-- Login してたら -->
                <li><a href="/u/app/register">開発アイデアを登録する</a></li>
                <li class="ma-nav-pc-menu ma-nav-notification" style="visibility: hidden;">
                    <a data-toggle="dropdown" class="ma-nav-notification-link dropdown-toggle" role="button" href="javascript:;"><span class="badge">0</span></a>
                    <ul role="menu" class="dropdown-menu ma-nav-notification-dropdown"></ul>
                </li>
                <!-- PCではdropdown表示 -->
                <li class="ma-nav-pc-menu dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" role="button" href="#">
                        <span class="ma-login-username">
                            <img class="img-rounded" src="{{ .Config.User.IconImageURL }}">
                        </span>
                        <span id="dropDownLoginName">{{ .Config.User.Name }}</span><b class="caret"></b>
                    </a>
                    <ul role="menu" class="dropdown-menu ma-login-dropdown">
                        <li role="presentation"><a href="/u/mypage">マイページ</a></li>
                        <li role="presentation"><a href="/logout">ログアウト</a></li>
                    </ul>
                </li>
                <!-- mobileで表示 -->
                <li class="ma-nav-mobile-menu" role="presentation"><a href="/u/mypage">マイページ</a></li>
                <li class="ma-nav-mobile-menu" role="presentation"><a href="/logout">ログアウト</a></li>
                {{ end }}
            </ul>
        </div>
    </div>
</nav>

<div class="tp-banner-container">
    <div class="ma-top-banner" style="{{with .ShowBanner }} {{else}}display: none;{{end}}">
        <img src="/img/topbanner.png">
    </div>
</div>
