<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="fa fa-bars fa-lg"></span>
            </button>
            <a class="navbar-brand" href="/">
            <img src="/img/logo.png" alt="" class="logo">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/about">使い方</a></li>
                <li><a href="/app/list?orderBy=new">開発アイデアを探す</a></li>

                {{if .Config.User.IsEmpty }}
                <!-- Login してなかったら -->
                <li><a href="/login">開発アイデアを登録する</a></li>
                <li><a href="/login">ログイン・登録</a></li>
                {{ else }}
                <!-- Login してたら -->
                <li><a href="/u/app/register">開発アイデアを登録する</a></li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" role="button" href="#">
                        <span class="ma-login-username">
                            <img class="img-rounded" src="{{ .Config.User.IconImageURL }}">
                        </span>
                        <span id="dropDownLoginName">{{ .Config.User.Name }}</span><b class="caret"></b>
                    </a>
                    <ul role="menu" class="dropdown-menu ma-login-dropdown">
                        <li role="presentation"><a href="/u/mypage">マイページ</a></li>
                        <li role="presentation"><a href="/logout">ログアウト</a></li>
                    </ul>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</nav>

<div class="tp-banner-container">
    <div class="ma-top-banner" style="{{with .ShowBanner }} {{else}}display: none;{{end}}">
        <img src="/img/topbanner.png">
    </div>
</div>
