<script>
// define global constants
var ma = {
    config: {
        user: {
            id: "10152160532855662",
            name: "Takuya Tejima"
        }
    },
    constants: {
        platform: [
            {id: "1", name: "Web"},
            {id: "2", name: "iOS"},
            {id: "3", name: "Android"},
            {id: "4", name: "Mac"},
            {id: "5", name: "Apple Watch"},
            {id: "6", name: "Windows"},
            {id: "7", name: "Linux"},
            {id: "8", name: "Chrome"},
            {id: "9", name: "その他"}
        ],
        category: [
            {id: "1", name: "ブック"},
            {id: "2", name: "ビジネス"},
            {id: "3", name: "カタログ"},
            {id: "4", name: "教育"},
            {id: "5", name: "エンターテイメント"},
            {id: "6", name: "ファイナンス"},
            {id: "7", name: "フード"},
            {id: "8", name: "ゲーム"},
            {id: "9", name: "ヘルスケア"},
            {id: "10", name: "ライフスタイル"},
            {id: "11", name: "メディカル"},
            {id: "12", name: "ミュージック"},
            {id: "13", name: "ナビゲーション"},
            {id: "14", name: "ニュース"},
            {id: "15", name: "写真/ビデオ"},
            {id: "16", name: "仕事効率化"},
            {id: "17", name: "辞書/辞典"},
            {id: "18", name: "SNS"},
            {id: "19", name: "スポーツ"},
            {id: "20", name: "旅行"},
            {id: "21", name: "ユーティリティ"},
            {id: "22", name: "天気"},
            {id: "23", name: "その他"}
        ],
        pLang: [
            {id: "1", name: "Java"},
            {id: "2", name: "JavaScript"},
            {id: "3", name: "Swift"},
            {id: "4", name: "Objective-c"},
            {id: "5", name: "Go"},
            {id: "6", name: "PHP"},
            {id: "7", name: "Python"},
            {id: "8", name: "Ruby"},
            {id: "9", name: "Perl"},
            {id: "10", name: "C"},
            {id: "11", name: "C#"},
            {id: "12", name: "C++"},
            {id: "13", name: "Scala"},
            {id: "14", name: "SQL"},
            {id: "15", name: "VB"},
            {id: "16", name: "MATLAB"},
            {id: "17", name: "その他"}
        ],
        area: [
            {id: "1", name: "渋谷"},
            {id: "2", name: "六本木"},
            {id: "3", name: "恵比寿"},
            {id: "4", name: "新宿"},
            {id: "5", name: "横浜"},
            {id: "6", name: "池袋"},
            {id: "7", name: "品川"},
            {id: "8", name: "五反田"},
            {id: "9", name: "有楽町"},
            {id: "10", name: "大阪"},
            {id: "11", name: "福岡"},
            {id: "12", name: "その他"}
        ],
        occupation: [
            {id: "1", name: "企画"},
            {id: "2", name: "デザイナー"},
            {id: "3", name: "サーバーエンジニア"},
            {id: "4", name: "スマートフォンエンジニア"},
            {id: "5", name: "フロントエンドエンジニア"},
            {id: "6", name: "Webエンジニア"},
            {id: "7", name: "インフラエンジニア"},
            {id: "8", name: "フルスタックエンジニア"},
            {id: "9", name: "プロジェクトマネージャー"},
            {id: "10", name: "営業"},
            {id: "11", name: "おてつだい"},
            {id: "12", name: "その他"}
        ],
        meetingFrequency: [
            {id: "1", name: "週１回程度"},
            {id: "2", name: "週2, 3回程度"},
            {id: "3", name: "毎日"},
            {id: "4", name: "月1回程度"},
            {id: "5", name: "数ヶ月に1回程度"},
            {id: "6", name: "不定期"},
            {id: "7", name: "なし"},
            {id: "8", name: "その他"}
        ]
    }
};
</script>
<script src="/dist/main.js"></script>