<script>
// define global constants
var ma = {};
ma.config = {{ .Config }};
ma.constants = {{ .Constants }};
ma.messages = {
    constants: {
        platform: "プラットフォーム",
        category: "カテゴリ",
        pLang: "プログラミング言語",
        meetingArea: "エリア",
        occupation: "募集職種",
        meetingFrequency: "ミーティング頻度"
    }
};
</script>
<script src="/dist/main.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-62659234-1', 'auto');
  ga('send', 'pageview');
</script>