<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "partials/header" . }}
</head>
<body>

    <header>
        {{ template "partials/nav" . }}
    </header>

    <div class="wrapper">
        <section id="ma-about-bg1" class="ma-section-bg">
            <div class="container">
                <div class="section-heading">
                    <h1>MeetAppの使い方</h1>
                    <div class="divider"></div>
                    <p>趣味でサクッと気軽にアイデアを実現する開発仲間を見つけよう！</p>
                </div>
            </div>
        </section>
        <section class="odd">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="section-heading">
                            <h3>開発のアイデアを持っている方</h3>
                            <div class="divider"></div>
                        </div>
                        <p>「開発のアイデアを持っているけど、一人だと実現できないしなぁ…」とお考えの方は以下のステップでアイデアのプロトタイプを作りたいと言ってくれるデザイナー・エンジニアさんを見つけましょう！</p>
                        <ol>
                            <li>開発アイデアを登録します</li>
                            <li>開発アイデアの紹介を魅力的なものにしましょう</li>
                            <li>あなたのアイデアをシェアしましょう</li>
                            <li>「聞いてみる」やFacebookやTwitterを通じて興味を持ってくれるデザイナーさんやエンジニアさんと交流しましょう</li>
                        </ol>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="section-heading">
                            <h3>趣味で開発活動してみたい方</h3>
                            <div class="divider"></div>
                        </div>
                        <p>「趣味で何かアプリなどを作ってみたいなぁ…」とお考えのデザイナー・エンジニアの方は、一緒に開発を楽しめる仲間を見つけましょう！</p>
                        <ol>
                            <li>開発アイデアを探します</li>
                            <li>お好みのフィルターでアイデアやプロジェクトの状況をチェック</li>
                            <li>いいなと思った開発アイデアはスターしましょう</li>
                            <li>実際に参加してみたい開発には、「聞いてみる」やFacebookやTwitterを通じて参加表明や質問をしましょう</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <section id="ma-about-bg2" class="ma-section-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="section-heading">
                            <h3>実際に開発アイデアのメンバーが増えてきたら</h3>
                            <div class="divider"></div>
                        </div>
                        <div class="text-center">
                            <p>それぞれのグループでコミュニケーションを取り、ゴールやミーティングのプランなどをきちんと決めてプロトタイプを作成しましょう。</p>
                            <p>色々な方と趣味で開発活動をすることで、デザインやプログラミングはもちろんのこと、他にも様々なことを学べる機会があると思います。</p>
                            <h4>MeetAppを通じて作りたいものを作れる環境が実現します！！</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="section-heading">
                    <h3>MeetAppをはじめる</h3>
                    <div class="divider"></div>
                </div>
                <div class="col-md-12 tile-wrap text-center">
                    <a class="FbBtn" href="/login/facebook">
                       <div class="FbBtnLabel">Facebookでログイン・新規登録</div>
                    </a>
                    <a class="TwBtn" href="/login/twitter">
                       <div class="TwBtnLabel">Twitterでログイン・新規登録</div>
                    </a>
                    <div class="sectionDesc">
                        <p>MeetAppが許可無くFacebook/Twitter等へ投稿することはありません。</p>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            {{ template "partials/footer" . }}
        </footer>
    </div>

    {{ template "partials/scripts" . }}
</body>
</html>
