<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/header %>
</head>
<body>

    <header>
        <% include partials/nav %>
    </header>

    <div class="wrapper">
        <section>
            <div class="container">
                <div class="section-heading scrollpoint sp-effect3">
                    <h1>Error</h1>
                    <div class="divider"></div>
                    <p>An error occurred</p>
                </div>
            </div>
        </section>
        <footer>
            <% include partials/footer %>
        </footer>
    </div>
    
    <% include partials/scripts %>
</body>
</html>