<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "partials/header" . }}
</head>
<body>
    <header>
        {{ template "partials/nav" . }}
    </header>

    <div class="wrapper">
        <section id="new">
            <div class="container">
                <div class="section-heading scrollpoint sp-effect3">
                    <h1>新着アプリのメン募</h1>
                    <div class="divider"></div>
                </div>
                <div class="row">
                    {{range .LastedList}}
                        {{ template "app/components/tile" . }}
                    {{end}}
                </div>
            </div>
        </section>
        <section id="popular">
            <div class="container">
                <div class="section-heading scrollpoint sp-effect3">
                    <h1>人気のアプリのメン募</h1>
                    <div class="divider"></div>
                </div>
                <div class="row">
                    {{range .PopularList}}
                        {{ template "app/components/tile" . }}
                    {{end}}
                </div>
            </div>
        </section>
        <section id="category">
            <div class="container">
                <div class="section-heading scrollpoint sp-effect3">
                    <h1>プラットフォーム別に探す</h1>
                    <div class="divider"></div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 scrollpoint sp-effect1">
                        <div class="media text-right feature">
                            <a class="pull-right" href="#">
                            <i class="fa fa-cogs fa-2x"></i>
                            </a>
                            <div class="media-body">
                                <a href="/category/ios"><h3 class="media-heading">iOS</h3></a>
                            </div>
                        </div>
                        <div class="media text-right feature">
                            <a class="pull-right" href="#">
                            <i class="fa fa-envelope fa-2x"></i>
                            </a>
                            <div class="media-body">
                                <a href="/category/mac"><h3 class="media-heading">Mac</h3></a>
                            </div>
                        </div>
                        <div class="media text-right feature">
                            <a class="pull-right" href="#">
                            <i class="fa fa-users fa-2x"></i>
                            </a>
                            <div class="media-body">
                                <a href="/category/web"><h3 class="media-heading">Web</h3></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 scrollpoint sp-effect2">
                        <div class="media text-left feature">
                            <a class="pull-left" href="#">
                            <i class="fa fa-map-marker fa-2x"></i>
                            </a>
                            <div class="media-body">
                                <a href="/category/android"><h3 class="media-heading">Android</h3></a>
                            </div>
                        </div>
                        <div class="media text-left feature">
                            <a class="pull-left" href="#">
                            <i class="fa fa-film fa-2x"></i>
                            </a>
                            <div class="media-body">
                                <a href="/category/windows"><h3 class="media-heading">Windows</h3></a>
                            </div>
                        </div>
                        <div class="media text-left feature">
                            <a class="pull-left" href="#">
                            <i class="fa fa-compass fa-2x"></i>
                            </a>
                            <div class="media-body">
                                <a href="/category/chrome"><h3 class="media-heading">Chrome OS</h3></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            {{ template "partials/footer" . }}
        </footer>
    </div>
    {{ template "partials/scripts" . }}
</body>
</html>
