<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "partials/header" . }}
</head>
<body>
    <header>
        {{ template "partials/nav" . }}
    </header>

    <div class="wrapper">
        <section class="even">
            <div class="container">
                <div class="section-heading">
                    <h1>新着プロジェクト</h1>
                    <div class="divider"></div>
                </div>
                <div class="row">
                    {{range .LastedList}}
                        {{ template "app/components/tile" . }}
                    {{end}}
                </div>
            </div>
        </section>
        <section class="odd">
            <div class="container">
                <div class="section-heading">
                    <h1>人気プロジェクト</h1>
                    <div class="divider"></div>
                </div>
                <div class="row">
                    {{range .PopularList}}
                        {{ template "app/components/tile" . }}
                    {{end}}
                </div>
            </div>
        </section>
        <section class="even">
            <div class="container">
                <div class="section-heading">
                    <h1>職種別に探す</h1>
                    <div class="divider"></div>
                </div>
                <div class="row section-container ma-constant-list" data-constant="occupation"></div>
            </div>
        </section>
        <section class="odd">
            <div class="container">
                <div class="section-heading">
                    <h1>プラットフォーム別に探す</h1>
                    <div class="divider"></div>
                </div>
                <div class="row section-container ma-constant-list" data-constant="platform"></div>
            </div>
        </section>
        <section class="even">
            <div class="container">
                <div class="section-heading">
                    <h1>Adsense</h1>
                </div>
            </div>
        </section>
        <footer>
            {{ template "partials/footer" . }}
        </footer>
    </div>
    {{ template "partials/scripts" . }}
</body>
</html>
