<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "partials/header" . }}
</head>
<body>
    <header>
        {{ template "partials/nav" . }}
    </header>

    <div class="wrapper">
        <section class="even">
            <div class="container">
                <div class="section-heading">
                    <h1>新着プロジェクト</h1>
                    <div class="divider"></div>
                </div>
                <div class="row">
                    {{range .LastedList}}
                        {{ template "app/components/tile" . }}
                    {{end}}
                </div>
            </div>
        </section>
        <section class="odd">
            <div class="container">
                <div class="section-heading">
                    <h1>人気プロジェクト</h1>
                    <div class="divider"></div>
                </div>
                <div class="row">
                    {{range .PopularList}}
                        {{ template "app/components/tile" . }}
                    {{end}}
                </div>
            </div>
        </section>
        <section class="even">
            <div class="container">
                <div class="section-heading">
                    <h1>カテゴリー</h1>
                    <div class="divider"></div>
                </div>
                <div class="row section-container">
                    <div class="col-md-6 col-sm-6">
                        <div class="media text-right feature">
                            <a href="#"><h3 class="media-heading">cat1</h3>
                            </a>
                        </div>
                        <div class="media text-right feature">
                            <a href="#"><h3 class="media-heading">cat2</h3>
                            </a>
                        </div>
                        <div class="media text-right feature">
                            <a href="#"><h3 class="media-heading">cat3</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="media text-left feature">
                            <a href="#"><h3 class="media-heading">cat4</h3>
                            </a>
                        </div>
                        <div class="media text-left feature">
                            <a href="#"><h3 class="media-heading">cat5</h3>
                            </a>
                        </div>
                        <div class="media text-left feature">
                            <a href="#"><h3 class="media-heading">cat6</h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="odd">
            <div class="container">
                <div class="section-heading">
                    <h1>プラットフォーム</h1>
                    <div class="divider"></div>
                </div>
                <div class="row section-container">
                    <div class="col-md-6 col-sm-6">
                        <div class="media text-right feature">
                            <a href="#"><h3 class="media-heading">iOS</h3>
                            </a>
                        </div>
                        <div class="media text-right feature">
                            <a href="#"><h3 class="media-heading">Mac</h3>
                            </a>
                        </div>
                        <div class="media text-right feature">
                            <a href="#"><h3 class="media-heading">Web</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="media text-left feature">
                            <a href="#"><h3 class="media-heading">Android</h3>
                            </a>
                        </div>
                        <div class="media text-left feature">
                            <a href="#"><h3 class="media-heading">Windows</h3>
                            </a>
                        </div>
                        <div class="media text-left feature">
                            <a href="#"><h3 class="media-heading">Chrome OS</h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="even">
            <div class="container">
                <div class="section-heading">
                    <h1>Adsense</h1>
                </div>
            </div>
        </section>
        <footer>
            {{ template "partials/footer" . }}
        </footer>
    </div>
    {{ template "partials/scripts" . }}
</body>
</html>
