<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "partials/header" . }}
</head>
<body>

    <header>
        {{ template "partials/nav" . }}
    </header>

    <div class="wrapper">
        <section>
            <div class="container">
                <div class="section-heading">
                    <h1>ログイン・新規登録</h1>
                    <div class="divider"></div>
                </div>
                <div class="row">
                    <div class="col-md-6 tile-wrap text-center">
                        Facebook
                    </div>
                    <div class="col-md-6 tile-wrap text-center">
                        Twitter
                    </div>
                </div>
            </div>
        </section>
        <footer>
            {{ template "partials/footer" . }}
        </footer>
    </div>
    
    {{ template "partials/scripts" . }}
</body>
</html>
