<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "partials/header" . }}
</head>
<body>

    <header>
        {{ template "partials/nav" . }}
    </header>

    <div class="wrapper">
        <div class="ma-layout-wrap">
            <div class="ma-layout clearfix">
                <div class="ma-layout-col-left">
                    <div class="ma-infobox">
                        <div class="ma-infobox-profile-image" style="background-image:url({{ .User.IconLargeImageURL }});">
                        </div>
                        <div class="ma-infobox-table">
                            <dl>
                                <dt>名前:</dt><dd>{{ .User.Name }}</dd>
                                <dt>ひとこと:</dt><dd>{{with .User.Comment }}{{ . }}{{else}} - {{end}}</dd>
                                <!--
                                <dt>職種:</dt><dd>Engineer</dd>
                                <dt>プログラミング言語:</dt><dd>Swift JavaScript</dd>
                                -->
                            </dl>
                            <div class="ma-sns-wrap text-center">
                                {{ with .User.FBUser.Link }}
                                <a href="{{ . }}" class="ma-sns-fb"></a>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                    <div style="margin-bottom: 20px;">
                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <!-- meetapp-mypage1 -->
                        <ins class="adsbygoogle"
                             style="display:block"
                             data-ad-client="ca-pub-9926247110273834"
                             data-ad-slot="3543549304"
                             data-ad-format="auto"></ins>
                        <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>
                </div>
                <div class="ma-layout-col-right">
                    <!-- loginしていて対象が自分の場合に表示 -->
                    {{if .IsMe }}
                    <div class="ma-white-wrap text-center">
                        <a href="/u/mypage/edit" class="ma-profile-edit-btn btn btn-primary">プロフィールを編集する</a>
                    </div>
                    {{end}}
                    <div class="ma-white-wrap">
                        <section>
                            <dl>
                                <dt>ウェブサイトURL:</dt><dd>{{with .User.HomePageURL }}<a href="{{ . }}" target="_blank">{{ . }}</a>{{else}} - {{end}}</dd>
                            </dl>
                            <dl>
                                <dt>Github URL:</dt><dd>{{with .User.GitHubURL }}<a href="{{ . }}" target="_blank">{{ . }}</a>{{else}} - {{end}}</dd>
                            </dl>
                        </section>                        
                    </div>
                    <div class="ma-white-wrap">
                        {{if .IsMe }}
                        <section>
                            <div class="section-heading">
                                <h3>管理している開発アイデア</h3>
                                <div class="divider"></div>
                            </div>
                            {{with .AdminAppList}}
                            <div class="row">
                                {{range .}}
                                {{ template "app/components/tile" . }}
                                {{end}}
                            </div>
                            {{else}}
                            <div class="text-center"><h4>管理している開発アイデアがありません</h4></div>
                            {{end}}
                        </section>
                        {{end}}
                        <section>
                            <div class="section-heading">
                                <h3>参加している開発アイデア</h3>
                                <div class="divider"></div>
                            </div>
                            {{with .JoinAppList}}
                            <div class="row">
                                {{range .}}
                                {{ template "app/components/tile" . }}
                                {{end}}
                            </div>
                            {{else}}
                            <div class="text-center"><h4>参加している開発アイデアがありません</h4></div>
                            {{end}}
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            {{ template "partials/footer" . }}
        </footer>
    </div>
    
    {{ template "partials/scripts" . }}
</body>
</html>
