<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "partials/header" . }}
</head>
<body>

    <header>
        {{ template "partials/nav" . }}
    </header>

    <div class="wrapper">
        <div class="ma-layout-wrap">
            <div class="ma-layout clearfix">
                <div class="ma-layout-col-left">
                    <div class="ma-infobox">
                        <!--<div class="ma-infobox-logo">-->
                            <!--<img src="{{ .User.IconImageURL }}" class="sectionImg">-->
                        <!--</div>-->
                        <div style="background-image:url({{ .User.IconLargeImageURL }}); height: 242px; background-size:cover; background-repeat: no-repeat;
background-position: 50% 50%;">
                        </div>
                        <div class="ma-infobox-table">
                            <dl>
                                <dt>Name:</dt><dd>{{ .User.Name }}</dd>
                                <!--
                                <dt>職種:</dt><dd>Engineer</dd>
                                <dt>プログラミング言語:</dt><dd>Swift JavaScript</dd>
                                -->
                            </dl>
                            <div class="ma-sns-wrap text-center">
                                {{ with .User.FBUser.Link }}
                                <a href="{{ . }}" class="ma-sns-fb"></a>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                    <!-- TODO: MyPage編集画面で画像アップロード機能実装予定 -->
                    <!--form class="ma-image-upload-form" name="imageUploadForm" method="post" action="">
                        <input type="file" name="file" />
                        <input type="submit" class="ma-image-upload-btn" value="アップロードする" />
                    </form-->
                    <div style="margin-bottom: 20px;">
                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <!-- meetapp-mypage1 -->
                        <ins class="adsbygoogle"
                             style="display:block"
                             data-ad-client="ca-pub-9926247110273834"
                             data-ad-slot="3543549304"
                             data-ad-format="auto"></ins>
                        <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>
                </div>
                <div class="ma-layout-col-right">
                    <!--div class="ma-white-wrap text-center">
                        <input class="ma-profile-edit-btn btn btn-primary" type="button" value="プロフィールを編集する">
                    </div-->
                    <div class="ma-white-wrap">
                        {{with .AdminAppList}}
                        <section>
                            <div class="section-heading">
                                <h3>管理している開発アイデア</h3>
                                <div class="divider"></div>
                            </div>
                            <div class="row">
                                {{range .}}
                                {{ template "app/components/tile" . }}
                                {{end}}
                            </div>
                        </section>
                        {{end}}
                        {{with .JoinAppList}}
                        <section>
                            <div class="section-heading">
                                <h3>参加している開発アイデア</h3>
                                <div class="divider"></div>
                            </div>
                            <div class="row">
                                {{range .}}
                                {{ template "app/components/tile" . }}
                                {{end}}
                            </div>
                        </section>
                        {{end}}
                    </div>
                </div>
            </div>
        </div>
        <footer>
            {{ template "partials/footer" . }}
        </footer>
    </div>
    
    {{ template "partials/scripts" . }}
</body>
</html>
