<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "partials/header" . }}
</head>
<body>

    <header>
        {{ template "partials/nav" . }}
    </header>

    <div class="wrapper">
        <section>
            <div class="container">
                <div class="section-heading">
                    <h1>プライバシーポリシー</h1>
                    <div class="divider"></div>
                </div>
                <p>お客様が安心してMeetApp（以下、当サービスといいます）をご利用いただけるよう、「このサイトにおける個人情報について」を定め、当サービスの運営・管理を行います。</p>

                <p>「個人情報について」について</p>

                <p>「個人情報について」は、当サービスの「個人情報保護方針」に基づき、運営・管理に関して、『「個人情報の保護に関する法律」に基づく公表事項』に補足すべき事項を定めるものです。当サービスを通じてご提供いただき、お預かりした個人情報の第三者への提供や、利用目的の通知・開示・訂正・削除・利用停止については、すべて『「個人情報の保護に関する法律」に基づく公表事項』に準じます。</p>

                <p>個人情報の定義について<br>
                「個人情報について」における個人情報とは、当サービスを通じてご提供いただき、お預かりする、氏名、住所、電話番号、メールアドレスなど、お客様個人を識別することができる情報、あるいはお客様個人に固有の情報と定義します。</p>

                <p>個人情報の収集について<br>
                当サービスにおいては、当サービス内のサービスのご利用に必要な場合にのみ、個人情報の提供をお願いする可能性があります。</p>

                <p>個人情報の利用目的について<br>
                当サービスを通じてご提供いただき、お預かりした個人情報は、お客様が必要とされているサービスの提供と、当サービスのサービス改善のための最小限の統計に使用しております。法律に別段の定めがある場合を除くほか、お客様の同意なく、それ以外の目的で使用することはありません。</p>

                <p>アクセスログについて<br>
                当サービスでは、アクセスされた方の情報をアクセスログという形で記録しています。アクセスログは、アクセスされた方のドメイン名やIPアドレス、使用しているブラウザの種類、アクセス日時などが含まれますが、個人を特定できる情報を含むものではありません。アクセスログはウェブサイトの保守管理や利用状況に関する統計分析のために活用されますが、それ以外の目的で利用されることはありません。また、アクセスログの開示は原則として行いません。</p>

                <p>クッキー（Cookie）について<br>
                お客様が当サービスを再度ご利用になるときなどに、より便利に閲覧して頂くため、お客様がご使用のコンピュータを識別する、クッキー（cookie）と呼ばれるデータを送付し、ハードディスクに記録することがあります。なお、クッキーは、お客様個人を識別するものではありません。ブラウザの設定でそのデータの受け取りを拒否することができますが、これによりウェブサイトのご利用が正常にできない場合がありますのでご注意ください。</p>

                <p>リンク先における個人情報の保護について<br>
                当サービスからリンクする当社以外の事業者または個人のウェブサイトにおける個人情報の取扱いについては、当社は責任を負うことはできません。</p>

                <p>「個人情報について」の変更<br>
                当社は、法令等の変更に伴い、「個人情報について」を変更することがあります。</p>

                <p>お問い合わせについて<br>
                「個人情報について」に関するお問い合わせは、下記相談窓口よりお願いいたします。ご利用者様が個人情報の照会・修正または削除をご希望の場合には、ご本人様と確認できた場合にのみ、ご回答させていただきます。ただし、内容によりご回答できない場合もあります。また、ご回答可能な場合であっても、ご回答に時間を要する場合があります。あらかじめご了承ください。</p>

                <p>[個人情報に関するお問い合わせ先] <br>
                meetapp.info@gmail.com</p>

                <p>最終改定日<br>
                2015年5月6日</p>
            </div>
        </section>
        <footer>
            {{ template "partials/footer" . }}
        </footer>
    </div>
    
    {{ template "partials/scripts" . }}
</body>
</html>
