<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "partials/header" . }}
</head>
<body>

    <header>
        {{ template "partials/nav" . }}
    </header>

    <div class="wrapper">
        <section>
            <div class="container">
                <div class="section-heading">
                    <h1>利用規約</h1>
                    <div class="divider"></div>
                </div>
                <p>MeetAppへようこそ。</p>

                <p>この度は、MeetAppへお越し頂きまことにありがとうございます。<br>
                このウェブサイト（以下「当サービス」といいます）はDevMorning（以下「弊社」といいます）が運営しております。お客様が本サービスをご利用されるにあたっては、以下の利用規約をお読み頂き、同意される場合にのみご利用下さい。なお、本規約につきましては予告なく変更することがありますので、あらかじめ御了承下さい。</p>

                <p>第１条【サービス】<br>
                当サービスの利用に際してはウェブにアクセスする必要がありますが、利用者は自らの費用と責任に必要な機器・ソフトウェア・通信手段等を用意し適切に接続・操作することとします。</p>

                <p>当サービスでは開発アイデアに関する情報の提供を行っておりますが、将来、様々なサービスを追加したり、または変更・削除することがあります</p>

                <p>弊社は、当サービスが提供及び付随するサービスに対する保証行為を一切しておりません。また、弊社は、当サービスの提供するサービスの不確実性・サービス停止等に起因する利用者への損害について、一切責任を負わないものとします。詳細については、「免責事項について」をご覧下さい。</p>

                <p>第２条【個人情報の取り扱い】<br>
                当サービスとの利用に際して利用者から取得した氏名、メールアドレス、住所、電話番号等の個人情報は、別途定める「プライバシーポリシー」に則り取り扱われます。</p>

                <p>第３条【著作権等知的財産権】
                １．当サービス内のプログラム、商品写真その他の知的財産権は弊社に帰属します。利用者は、当該情報を私用目的で利用される場合にかぎり使用できます。弊社に無断で、それを越えて、使用（複製、送信、譲渡、二次利用等を含む）することは禁じます。</p>

                <p>第４条【禁止事項】<br>
                １．弊社は、利用者が以下の行為を行うことを禁じます。
                １）弊社または第三者に損害を与える行為、または損害を与える恐れのある行為
                ２）弊社または第三者の財産、名誉、プライバシー等を侵害する行為、または侵害する恐れのある行為
                ３）公序良俗に反する行為、またはその恐れのある行為
                ４）他人のメールアドレスを登録するなど、虚偽の申告、届出を行う行為
                ５）コンピュータウィルス等有害なプログラムを使用または提供する行為
                ６）迷惑メールやメールマガジン等を一方的に送付する行為
                ７）その他、法令に違反する行為、またはその恐れがある行為
                ８）その他弊社が不適切と判断する行為</p>

                <p>２．上記に違反した場合、弊社は利用者に対し損害賠償請求をすることができることに利用者は同意します。</p>

                <p>第５条【免責事項】<br>
                １．弊社は、当サービスに掲載されている全ての情報を慎重に作成し、また管理しますが、その正確性および完全性などに関して、いかなる保証もするものではありません。 </p>

                <p>2．弊社は、予告なしに、本サイトの運営を停止または中止し、また本サイトに掲載されている情報の全部または一部を変更する場合があります。 </p>

                <p>3．利用者が当サービスを利用したこと、または何らかの原因によりこれをご利用できなかったことにより生じる一切の損害および第三者によるデータの書き込み、不正なアクセス、発言、メールの送信等に関して生じる一切の損害について、弊社は、何ら責任を負うものではありません。</p>

                <p>第６条【契約解除】<br>
                １．弊社は、利用者が本規約に反する行為をした場合、即時にサービスを停止することができます。</p>

                <p>２．前項の事由が発生したとき、弊社は利用者に損害賠償をすることができます。</p>

                <p>第７条【損害賠償】<br>
                本規約に違反した場合、弊社に発生した損害を賠償していただきます。</p>

                <p>第８条【管轄裁判所】<br>
                万が一裁判所での争いとなったときは、名古屋地方裁判所を第一審の専属管轄裁判所とします。</p>

                <p>第９条【特例】<br>
                １．本規約に基づき、特別の規定が別途定められている場合があります。</p>

                <p>２．弊社の各サービスの説明のページに当規約と相反する規定があった場合は、各サービスの説明ページに記載してある規定を適用します。</p>

                <p>（附則）<br>
                本規約は、2015年5月6日より施行致します。</p>
            </div>
        </section>
        <footer>
            {{ template "partials/footer" . }}
        </footer>
    </div>
    
    {{ template "partials/scripts" . }}
</body>
</html>
