<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "partials/header" . }}
</head>
<body>
    <header>
        {{ template "partials/nav" . }}
    </header>

    <div class="wrapper">
        <section>
            <div class="container">
                <div class="section-heading scrollpoint sp-effect3">
                    <h1>{{ .SubTitle }}</h1>
                    <div class="divider"></div>
                </div>
                <div>
                    <div>
                        <h2>野草アプリ</h2>
                        <div>野草アプリの説明文</div>
                        <img src="https://golang.org/doc/gopher/gopherbw.png" style="width: 184px; height: 184px;">
                    </div>
                </div>
            </div>
        </section>
        <footer>
            {{ template "partials/footer" . }}
        </footer>
    </div>
    {{ template "partials/scripts" . }}
</body>
</html>
