<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "partials/header" . }}
</head>
<body>
    <header>
        {{ template "partials/nav" . }}
    </header>

    <div class="wrapper">
        <div class="ma-layout-wrap">
            <div>
            </div>
            <div class="ma-layout clearfix">
                <div class="ma-layout-col-left">
                    <div>
                        <img src="{{ .AppInfo.MainImage }}" class="sectionImg">
                    </div>
                    <div class="infoBox">
                        <dl>
                            <dt>プラットフォーム:</dt><dd>{{ .AppInfo.PlatformType }}</dd>
                            <dt>カテゴリ:</dt><dd>{{ .AppInfo.Category }}</dd>
                            <dt>プログラミング言語:</dt><dd>{{ .AppInfo.LanguageType }}</dd>
                        </dl>
                    </div>
                </div>
                <div class="ma-layout-col-right">
                    <section>
                        <div>
                            <h2>{{ .AppInfo.Name }}</h2>
                            <div class="sectionDesc">{{ .AppInfo.Detail }}</div>
                        </div>
                    </section>
                    <section>
                        <div class="row text-center">
                            {{range .AppInfo.ImageURLs }}
                            <div class="sectionImgWrap">
                                <img src="{{ .URL }}" class="sectionImg">
                            </div>
                            {{end}}
                        </div>
                    </section>
                    <section>
                        <div class="sectionTitle">Demo</div>
                        <dl>
                            <dt>Demo URL:</dt><dd><a href="{{ .AppInfo.DemoURL }}">{{ .AppInfo.DemoURL }}</a></dd>
                        </dl>
                    </section>
                    <section>
                        <div class="sectionTitle">プロジェクト計画</div>
                        <dl>
                            <dt>ミーティング場所:</dt><dd>{{ .AppInfo.Area }}</dd>
                            <dt>ミーティング頻度:</dt><dd>{{ .AppInfo.Frequency }}</dd>
                            <dt>プロジェクト開始日:</dt><dd>{{ .AppInfo.StartDate }}</dd>
                            <dt>リリース予定日:</dt><dd>{{ .AppInfo.ReleaseDate }}</dd>
                        </dl>
                    </section>
                    <section>
                        <div class="sectionTitle">募集したいメンバー</div>
                        <dl>
                            {{range .AppInfo.RecruitMember }}
                            <dt>{{ .Post }}:</dt><dd>{{ .Num }}名</dd>
                            {{end}}
                        </dl>
                    </section>
                    <section>
                        <div class="sectionTitle">現在のメンバー</div>
                        <div>
                            {{range .AppInfo.Members }}
                            <div class="ma-profile">
                                <a href="#">
                                    <div class="ma-profile-image-wrap">
                                        <img class="img-rounded ma-profile-image" src="{{ .IconImageURL }}">
                                    </div>
                                    <div class="ma-profile-content-wrap">
                                        <div class="ma-profile-content">
                                            <div class="ma-profile-name">{{ .Name }}</div>
                                            <div class="ma-profile-title">{{ .Post }}</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            {{end}}
                        </div>
                    </section>
                    <section>
                        <div class="sectionTitle">Discussion</div>
                        <ul class="ma-list-bordered">
                            <li class="ma-profile-comment">
                                <span class="ma-profile-date subtle-text">5/26/2014</span>
                                <a href="#">
                                    <div class="ma-profile-image-wrap">
                                        <img class="img-rounded ma-profile-image" src="http://graph.facebook.com/10152160532855662/picture?type=square">
                                    </div>
                                </a>
                                <div class="ma-profile-message">
                                    <p>I can't wait for this event!</p>
                                </div>
                            </li>
                            <li class="ma-profile-comment">
                                <span class="ma-profile-date subtle-text">5/27/2014</span>
                                <a href="#">
                                    <div class="ma-profile-image-wrap">
                                        <img class="img-rounded ma-profile-image" src="http://graph.facebook.com/10152160532855662/picture?type=square">
                                    </div>
                                </a>
                                <div class="ma-profile-message">
                                    <p>hoge<br>hoge hoge<br>Gopher!<br>How did you implement this?</p>
                                </div>
                            </li>
                        </ul>
                        <div class="row text-center">
                            <form class="ma-profile-comment-form">
                                <div class="form-group">
                                    <textarea id="ma_detail_discussion_comment" name="description" class="form-control" rows="4"></textarea>
                                </div>
                                <input class="ma_detail_discussion_comment_btn btn btn-primary" type="button" value="コメント" style="width: 100%;">
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <footer>
            {{ template "partials/footer" . }}
        </footer>
    </div>
    {{ template "partials/scripts" . }}
</body>
</html>
