<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "partials/header" . }}
</head>
<body>
    <header>
        {{ template "partials/nav" . }}
    </header>

    <div class="wrapper">
        <div class="ma-layout-wrap">
            <div class="ma-layout clearfix">
                <div class="ma-layout-col-left">
                    <div class="ma-filterbox">
                        <div class="section-heading">
                            <h3>プラットフォーム</h3>
                        </div>
                        <ul class="ma-constant-filter" data-constant="platform"></ul>
                    </div>
                    <div class="ma-filterbox">
                        <div class="section-heading">
                            <h3>募集職種別</h3>
                        </div>
                        <ul class="ma-constant-filter" data-constant="occupation"></ul>
                    </div>
                    <div class="ma-filterbox">
                        <div class="section-heading">
                            <h3>Adsense</h3>
                        </div>
                    </div>
                    <div class="ma-filterbox">
                        <div class="section-heading">
                            <h3>カテゴリ別</h3>
                        </div>
                        <ul class="ma-constant-filter" data-constant="category"></ul>
                    </div>
                    <div class="ma-filterbox">
                        <div class="section-heading">
                            <h3>プログラミング言語別</h3>
                        </div>
                        <ul class="ma-constant-filter" data-constant="pLang"></ul>
                    </div>
                    <div class="ma-filterbox">
                        <div class="section-heading">
                            <h3>エリア別</h3>
                        </div>
                        <ul class="ma-constant-filter" data-constant="area"></ul>
                    </div>
                </div>
                <div class="ma-layout-col-right">
                    <div class="ma-filter-by-wrap"></div>
                    {{ with .AppInfoList }}
                        <ul class="ma-app-list-item-wrap">
                            {{range .}}
                            {{ template "app/components/listItem" . }}
                            {{end}}
                        </ul>
                        <hr>
                        <div class="ma-app-list-pagination">
                            <nav class="pagination">
                                <span class="prev">
                                    <a href="/app/list?page=1" rel="prev"><i class="icon-angle-left"></i>前へ</a>
                                </span>
                                <span class="page"><a href="/app/list?page=1" rel="prev">1</a></span>
                                <span class="page current">2</span>
                                <span class="page"><a href="/app/list?page=3" rel="next">3</a></span>
                                <span class="page"><a href="/app/list?page=4" rel="next">4</a></span>
                                <span class="page"><a href="/app/list?page=5" rel="next">5</a></span>
                                <span class="page"><a href="/app/list?page=6" rel="next">6</a></span>
                                <span class="next">
                                    <a href="/app/list?page=3" rel="next">次へ<i class="icon-angle-right"></i></a>
                                </span>
                            </nav>
                        </div>                    
                    {{else}}
                        <ul class="ma-app-list-item-wrap">
                            <li><h2>検索結果がありません</h2></li>
                        </ul>
                    {{end}}
                </div>
            </div>
        </div>
        <footer>
            {{ template "partials/footer" . }}
        </footer>
    </div>
    {{ template "partials/scripts" . }}
</body>
</html>
