<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "partials/header" . }}
</head>
<body>
    <header>
        {{ template "partials/nav" . }}
    </header>

    <div class="wrapper">
        <section>
            <form>
                <div class="container">
                    <div class="section-heading">
                        <h1>開発アイデアを登録する</h1>
                        <div class="divider"></div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xs-6 form-group">
                            <label>アプリ名</label>
                            <input id="ma_register_form_name" name="name" class="form-control" type="text"/>
                        </div>
                        <div class="col-xs-6 form-group">
                            <label>プラットフォーム</label>
                            <select id="ma_register_form_platform" name="platform" class="form-control ma-constant-select" data-constant="platform"></select>
                        </div>
                        <div class="col-xs-6 form-group">
                            <label>説明</label>
                            <textarea id="ma_register_form_description" name="description" class="form-control" rows="8"></textarea>
                        </div>
                        <div class="col-xs-6 form-group">
                            <label>カテゴリ</label>
                            <select id="ma_register_form_category" name="category" class="form-control ma-constant-select" data-constant="category"></select>
                        </div>
                        <div class="col-xs-6 form-group">
                            <label>プログラミング言語</label>
                            <select id="ma_register_form_pLang" name="pLang" class="form-control ma-constant-select" data-constant="pLang"></select>
                        </div>
                        <div class="col-xs-6 form-group">
                            <label>キーワード</label>
                            <input id="ma_register_form_keywords" name="keywords" class="form-control" type="text"/>
                        </div>
                    </div>
                    <hr>
                    <h3>画像URL</h3>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <span>画像1 (メイン)</span>
                            <input id="ma_register_form_image1" data-list-name="images" name="url" class="form-control" type="text" placeholder="http://" />
                            <!--div class="input-group">
                                <span class="input-group-btn">
                                    <span class="btn btn-primary btn-file">
                                        Browse&hellip; <input type="file" multiple>
                                    </span>
                                </span>
                                <input type="text" class="form-control" readonly>
                            </div-->
                            <span>画像2</span>
                            <input id="ma_register_form_image2" data-list-name="images" name="url" class="form-control" type="text" placeholder="http://"/>
                            <span>画像3</span>
                            <input id="ma_register_form_image3" data-list-name="images" name="url" class="form-control" type="text" placeholder="http://"/>
                        </div>
                    </div>
                    <hr>
                    <h3>現在のメンバー構成</h3>
                    <div class="row">
                        <div class="input-group ma-friend-add-suggest">
                            <input type="text" class="form-control" id="ma_register_add_currentMember_suggest_input" placeholder="登録ユーザーの名前をタイプしてください">
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-primary ma-friend-add-btn" id="ma_register_add_currentMember_suggest_btn" type="button">追加</button>
                            </span>
                        </div>
                        <div id="ma_register_add_currentMember_result">
                            <div class="ma-friend-add-member" data-list-name="currentMembers">
                                <input type="hidden" name="id" value="{{ .Config.User.ID }}">
                                <img class="img-rounded" width="32px" height="32px" src="{{ .Config.User.IconImageURL }}">
                                <span>{{ .Config.User.Name }}</span>
                                <select name="occupation" class="form-control ma-constant-select" data-constant="occupation"></select>
                                <!--button type="button" class="btn btn-default ma-friend-delete-btn">削除</button-->
                            </div>
                        </div>
                    </div>
                    <hr>
                    <h3>募集したいメンバー</h3>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <button id="ma_register_add_recruitMember_btn" type="button" class="btn btn-default">追加</button>
                        </div>
                        <div id="ma_register_add_recruitMember_result"></div>
                    </div>
                    <hr>
                    <h3>URL</h3>
                    <div class="row">
                        <div class="col-xs-6 form-group">
                            <label>Demo URL</label>
                            <input id="ma_register_form_demoUrl" name="demoUrl" class="form-control" type="text" placeholder="http://"/>
                        </div>
                        <div class="col-xs-6 form-group">
                            <label>Github URL</label>
                            <input id="ma_register_form_githubUrl" name="githubUrl" class="form-control" type="text" placeholder="https://github.com/owner/repo" />
                        </div>
                    </div>
                    <hr>
                    <h3>プロジェクト計画</h3>
                    <div class="row">
                        <div class="col-xs-6 form-group">
                            <label>ミーティング場所</label>
                            <select id="ma_register_form_meetingArea" name="meetingArea" class="form-control ma-constant-select" data-constant="area"></select>
                        </div>
                        <div class="col-xs-6 form-group">
                            <label>ミーティング頻度</label>
                            <select id="ma_register_form_meetingFrequency" name="meetingFrequency" class="form-control ma-constant-select" data-constant="meetingFrequency"></select>
                        </div>
                        <div class="col-xs-6 form-group">
                            <label>プロジェクト開始日</label>
                            <input id="ma_register_form_projectStartDate" name="projectStartDate" class="form-control" type="date" placeholder="2015-05-01"/>
                        </div>
                        <div class="col-xs-6 form-group">
                            <label>リリース予定日</label>
                            <input id="ma_register_form_projectReleaseDate" name="projectReleaseDate" class="form-control" type="date" placeholder="2015-06-01"/>
                        </div>
                    </div>
                    <hr>
                    <div class="row text-center">
                        <input id="ma_register_submitBtn" class="btn btn-lg btn-primary" type="button" value="登録する" />
                    </div>
                </div>
            </form>
        </section>
        <footer>
            {{ template "partials/footer" . }}
        </footer>
    </div>
    {{ template "partials/scripts" . }}
</body>
</html>
