<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "partials/header" . }}
</head>
<body>
    <header>
        {{ template "partials/nav" . }}
    </header>

    <div class="wrapper">
        <section>
            <form>
                <div class="container">
                    <div class="section-heading">
                        {{if .AppInfo.IsEmpty }}
                        <h1>開発アイデアを登録する</h1>
                        {{ else }}
                        <h1>開発アイデアを編集する</h1>
                        {{ end }}
                        <div class="divider"></div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xs-6 form-group">
                            <label>アプリ名 <span class="ma-required">*</span></label>
                            <input id="ma_register_form_name" name="name" class="form-control" type="text" value="{{ .AppInfo.Name }}"/>
                        </div>
                        <div class="col-xs-6 form-group">
                            <label>プラットフォーム</label>
                            <select id="ma_register_form_platform" name="platform" class="form-control ma-constant-select" data-constant="platform" data-default-value="{{ .AppInfo.Platform.ID }}"></select>
                        </div>
                        <div class="col-xs-6 form-group">
                            <label>説明 (Markdown記法が使用できます)</label>
                            <textarea id="ma_register_form_description" name="description" class="form-control" rows="8">{{ .AppInfo.Description }}</textarea>
                        </div>
                        <div class="col-xs-6 form-group">
                            <label>カテゴリ</label>
                            <select id="ma_register_form_category" name="category" class="form-control ma-constant-select" data-constant="category" data-default-value="{{ .AppInfo.Category.ID }}"></select>
                        </div>
                        <div class="col-xs-6 form-group">
                            <label>プログラミング言語</label>
                            <select id="ma_register_form_pLang" name="pLang" class="form-control ma-constant-select" data-constant="pLang" data-default-value="{{ .AppInfo.Language.ID }}"></select>
                        </div>
                        <div class="col-xs-6 form-group">
                            <label>キーワード</label>
                            <input id="ma_register_form_keywords" name="keywords" class="form-control" type="text" value="{{ .AppInfo.Keywords }}"/>
                        </div>
                    </div>
                    <hr>
                    <h3>画像URL (1つ目がメイン画像)</h3>
                    <div class="row">
                        {{range .AppInfo.ImageURLs }}
                        <div class="col-xs-12 form-group">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <span class="btn btn-primary btn-file">
                                        Browse&hellip; <input type="file" class="ma-register-form-image-file" multiple>
                                    </span>
                                </span>
                                <input type="text" class="form-control ma-register-form-image-input" readonly data-list-name="images" name="url" value="{{ .URL }}">
                            </div>
                            {{ with .URL }}
                            <div class="text-right">
                                <button type="button" class="btn btn-default register-form-image-delete-btn">削除</button>
                            </div>
                            {{ end }}
                        </div>
                        {{end}}
                    </div>
                    <hr>
                    <h3>現在のメンバー構成</h3>
                    <div class="row">
                        <div class="input-group ma-friend-add-suggest">
                            <input type="text" class="form-control" id="ma_register_add_currentMember_suggest_input" placeholder="登録ユーザーの名前をタイプしてください">
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-primary ma-friend-add-btn" id="ma_register_add_currentMember_suggest_btn" type="button">追加</button>
                            </span>
                        </div>
                        <div id="ma_register_add_currentMember_result">
                            {{ $self := . }}
                            {{range .AppInfo.Members }}
                            <div class="ma-friend-add-member" data-list-name="currentMembers">
                                <input type="hidden" name="id" value="{{ .User.ID }}">
                                <img class="img-rounded" width="32px" height="32px" src="{{ .User.IconImageURL }}">
                                <span>{{ .User.Name }}</span>
                                <select name="occupation" class="form-control ma-constant-select" data-constant="occupation" data-default-value="{{ .Occupation.ID }}"></select>
                                <!-- check admin flag -->
                                <label><input type="checkbox" class="form-control" name="isAdmin" {{if .IsAdmin }}checked="checked"{{end}} {{if eq .User.ID $self.Config.User.ID }}disabled="disabled"{{end}}>管理者</label>
                                <!-- とりあえずAdminは削除できない -->
                                {{if not .IsAdmin}}
                                    <button type="button" class="btn btn-default ma-friend-delete-btn">削除</button>
                                {{end}}
                            </div>
                            {{end}}
                        </div>
                    </div>
                    <hr>
                    <h3>募集したいメンバー</h3>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <button id="ma_register_add_recruitMember_btn" type="button" class="btn btn-default">追加</button>
                        </div>
                        <div id="ma_register_add_recruitMember_result">
                            {{range .AppInfo.RecruitMember }}
                            <div class="ma-friend-add-member" data-list-name="recruitMembers">
                                <select name="occupation" class="form-control ma-constant-select" data-constant="occupation" data-default-value="{{ .Occupation.ID }}"></select>
                                <button type="button" class="btn btn-default ma-friend-delete-btn">削除</button>
                            </div>
                            {{end}}
                        </div>
                    </div>
                    <hr>
                    <h3>URL</h3>
                    <div class="row">
                        <div class="col-xs-6 form-group">
                            <label>Demo URL</label>
                            <input id="ma_register_form_demoUrl" name="demoUrl" class="form-control" type="text" placeholder="http://" value="{{ .AppInfo.DemoURL }}"/>
                        </div>
                        <div class="col-xs-6 form-group">
                            <label>Github URL</label>
                            <input id="ma_register_form_githubUrl" name="githubUrl" class="form-control" type="text" placeholder="https://github.com/owner/repo" value="{{ .AppInfo.GitHubURL }}"/>
                        </div>
                    </div>
                    <hr>
                    <h3>プロジェクト計画</h3>
                    <div class="row">
                        <div class="col-xs-6 form-group">
                            <label>ミーティング場所</label>
                            <select id="ma_register_form_meetingArea" name="meetingArea" class="form-control ma-constant-select" data-constant="area" data-default-value="{{ .AppInfo.Area.ID }}"></select>
                        </div>
                        <div class="col-xs-6 form-group">
                            <label>ミーティング頻度</label>
                            <select id="ma_register_form_meetingFrequency" name="meetingFrequency" class="form-control ma-constant-select" data-constant="meetingFrequency" data-default-value="{{ .AppInfo.Frequency.ID }}"></select>
                        </div>
                        <!-- <div class="col-xs-6 form-group">
                            <label>プロジェクト開始日</label>
                            <input id="ma_register_form_projectStartDate" name="projectStartDate" class="form-control" type="date" placeholder="2015-05-01" value="{{ .AppInfo.StartDate }}" />
                        </div>
                        <div class="col-xs-6 form-group">
                            <label>リリース予定日</label>
                            <input id="ma_register_form_projectReleaseDate" name="projectReleaseDate" class="form-control" type="date" placeholder="2015-06-01" value="{{ .AppInfo.ReleaseDate }}"/>
                        </div> -->
                    </div>
                    <hr>
                    <div class="row text-center">
                        {{if .AppInfo.IsEmpty }}
                        <input id="ma_register_submitBtn" class="btn btn-lg btn-primary" type="button" value="登録する" />
                        {{ else }}
                        <input id="ma_register_submitBtn" class="btn btn-lg btn-primary" type="button" value="更新する" data-app-id="{{ .AppInfo.ID }}"/>
                        {{ end }}
                    </div>
                </div>
            </form>
        </section>
        <footer>
            {{ template "partials/footer" . }}
        </footer>
    </div>
    {{ template "partials/scripts" . }}
</body>
</html>
