<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header %>
</head>
<body>
    <div class="pre-loader">
        <div class="load-con">
            <img src="/img/logo.png" class="animated fadeInDown" alt="">
            <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
        </div>
    </div>

    <header>
        <% include ../partials/nav %>
    </header>

    <div class="wrapper">
        <section>
            <div class="container">
                <div class="section-heading scrollpoint sp-effect1">
                    <h1>アプリの登録</h1>
                    <div class="divider"></div>
                    <p>Oleose Beautiful App Landing Page</p>
                </div>
                <div>カテゴリ選択</div>
                <div>URL: </div>
            </div>
        </section>
        <footer>
            <% include ../partials/footer %>
        </footer>
    </div>
    <% include ../partials/scripts %>
</body>
</html>