/*! Banner */
.ma-top-banner
    padding 40px
    text-align center
    background-image url('/img/top_bg1.png')
    background-size 100% 100%
    
    img
        width 100%
        max-width 830px
        
.ma-section-bg
    width 100%
    height 480px
    display table
    color #fff
    
    h1, h2, h3, h4, p 
        color #fff
        
    .container
      display table-cell
      height 480px
      vertical-align middle
      width 100%
    
#ma-about-bg1
    background-image url('/img/about_bg1.png')
    background-size 100% 100%
    
#ma-about-bg2
    width 100%
    height 480px
    background-image url('/img/about_bg2.png')
    background-size 100% 100%
