/*! Banner */
.ma-top-banner
    text-align center
    background-color #102f51
    
    img
        width 100%
        max-width 1000px
        
.ma-section-bg
    width 100%
    height 480px
    display table
    color #fff
    
    h1, h2, h3, h4, p 
        color #fff
        
    .container
      display table-cell
      // height 480px
      vertical-align middle
      // width 100%
    
#ma-about-bg1
    &:before
        content ''
        overflow hidden
        display block
        background-image url('https://res.cloudinary.com/hcod0wyyv/image/upload/img/about_bg1.png')
        background-size 100% 100%
        width 100%
        height 100%
        z-index -1
    
#ma-about-bg2
    &:before
        content ''
        overflow hidden
        display block
        background-image url('https://res.cloudinary.com/hcod0wyyv/image/upload/img/about_bg2.png')
        background-size 100% 100%
        width 100%
        height 100%
        z-index -1
