/*! Box */

.ma-infobox
    background-color #fff
    margin-bottom 20px

    .ma-infobox-logo
        padding 16px
    
    .ma-infobox-table
        padding 8px
        background-color #2196f3
        color #fff
        text-align left
        
    
.ma-filterbox
    text-align left
    margin-bottom 20px
    padding 8px 16px
    background-color #2196f3
    color #fff
    
    h3
        color #fff
    
