/*! Box */

.ma-infobox
    background-color #fff
    margin-bottom 20px

    .ma-infobox-logo
        padding 16px
    
    .ma-infobox-table
        padding 8px
        background-color #2196f3
        color #fff
        text-align left
        clearfix()
        
    .ma-infobox-table-white
        padding 8px
        background-color #fff
        text-align left
        clearfix()
        
    .ma-infobox-profile-image
        height 242px
        background-size cover
        background-repeat no-repeat
        background-position 50% 50%

.ma-filterbox
    text-align left
    margin-bottom 20px
    padding 8px 16px
    background-color #2196f3
    color #fff

    .section-heading
        margin 24px 0 12px 0    
    h3
        color #fff
    a
        color #fff
        font-size 16px
    ul
        li
            display inline-block
            margin 0 10px
            
    .ma-constant-filter
        .ExSelected a
            font-size 24px
            font-weight bold
            color #fbc02d