/*! Box */

.ma-infobox
    background-color #fff
    margin-bottom 20px
    box-shadow 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12)

    .ma-infobox-logo
        padding 16px
    
        .ma-image-ribon
            width auto
            height auto

    .ma-infobox-table
        padding 8px
        background-color #2196f3
        color #fff
        text-align left
        clearfix()
        dl
            dt
                float none
                padding 0
                    
            dd
                margin 0
                
    .ma-infobox-table-white
        padding 8px
        background-color #fff
        text-align left
        clearfix()
        
    .ma-infobox-profile-image
        height 242px
        background-size cover
        background-repeat no-repeat
        background-position 50% 50%

.ma-filterbox
    text-align left
    margin-bottom 20px
    padding 8px 16px
    background-color #2196f3
    color #fff
    box-shadow 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12)

    .section-heading
        margin 24px 0 12px 0    
    h3
        color #fff
    a
        color #fff
        font-size 16px
    ul
        li
            display inline-block
            margin 0 10px
            
    .ma-constant-filter
        .ExSelected a
            font-size 24px
            font-weight bold
            color #fbc02d