/*! button */
.ma-app-edit-btn,
.ma-app-delete-btn,
.ma-profile-edit-update-btn,
.ma-profile-edit-cancel-btn
    margin 0 8px
    
.btn-file
    height 40px
    
#ma-mypage-edit-profile-image-input
    height 40px

.register-form-image-delete-btn
    margin-top 4px