/*! Auto Complete */

.input-group.ma-friend-add-suggest
    padding-left 15px
    margin 8px 0

.ma-friend-add-btn
    padding 10px 25px

.ma-friend-add-member
    margin 20px
    
    img
      vertical-align middle
      margin-right 8px
    span
      margin-right 8px

    select
        width 260px
        display inline-block
        margin-right 8px
