/*! github issues */
.ma-github-issues
    li
        line-height 26px

    .ma-github-issue-link
        text-decoration underline

    .ma-github-issue-icon
        width  24px
        height 26px
        display inline-block
        vertical-align middle
        margin-right 8px
        background-image url('https://res.cloudinary.com/hcod0wyyv/image/upload/v1430837109/issue.png')
        background-size 24px 26px
