/*! List */
.ma-list li
  margin-bottom 6px

.ma-list-bordered li
  margin 0
  padding 8px 0
  border-top 1px solid #e5e5e1
  
  &:first-child
      border-top none

.ma-app-list-item
    position relative
    margin-bottom 12px
    padding 20px
    background #fff
    clearfix()

    &:hover
        border 2px solid #303f9f

    &>a
      display block
      width 100%
      height 160px
            
    section
        margin 8px 0
    
    .ma-app-list-item-image
        float left
        width 160px
        height 160px
        
        img
            width 100%
            height 100%
            
    .ma-app-list-item-content
        margin-left 180px
        height 100%

    .ma-app-list-item-title
        font-size 28px
        color #666
        
    .ma-app-list-item-toolbar
        position absolute
        bottom 20px
        right 40px
        

    .ma-app-list-item-member-wrap
        img
            width 32px
            height 32px

            
.ma-app-list-pagination
    .pagination
        display block
        text-align center
        
        span
            margin 12px    
