/*! Markdown */
.ma-mark-down
    p 
        margin 0 0 12px

    a
        text-decoration underline
    
    ul 
        list-style disc
    ol
        padding 0
        list-style decimal

    li
        border none
        padding 0
        margin 4px 0
        list-style-position inside
    
    table
        thead
            border-bottom 1px solid #e5e5e1

        th, td 
            padding 8px
            