/*! notifications */
header .navbar-default
    
    ul.navbar-nav li a.ma-nav-notification-link
        padding 7px 0
    
        &:after
            content none
        
    .badge
        color #fff
        
    .badge.ma-unread-badge
        background-color #E91E63