/*! Profile */
.ma-profile
    width 240px
    height 80px
    display inline-block
    
    .ma-profile-image-wrap
        width 60px
        float left
        margin 10px 10px 10px 0
        height 60px

    .ma-profile-image
        width 60px
        height 60px
    
    .ma-profile-content-wrap
        height 80px
        display table
        
    .ma-profile-content
        display table-cell
        vertical-align middle
    
    .ma-profile-name
        padding 5px
        font-weight bold
    
    .ma-profile-title
        padding 5px

/*! Discussion & Comment */
.ma-profile-comment
    clearfix()
    
    .ma-profile-image-wrap
        float left
        width 40px
        height 40px
        
        img
            width 100%
            height 100%

    .ma-profile-message
        margin-left 48px

    p
        margin-bottom 0px

    .ma-profile-date
        float right
        font-style italic
        
.ma-profile-comment-form
    margin-left 16px
    
    .form-group
        margin 0 auto
        float none
        
    .ma_detail_discussion_comment_btn
        margin-top 8px
