/*! social */
/* login */
.FbBtn
    background-color #3b5998
    height 45px
    display inline-block
    position relative
    text-decoration none
    border-radius(8px)
 
.FbBtn:after
    content ""
    position absolute
    top 12px
    left 12px
    width 20px
    height 20px
    background-image url('https://www.facebookbrand.com/img/facebook.icon.png')
    background-repeat no-repeat
    background-size 20px 20px
 
.FbBtnLabel
    color #ffffff
    position relative
    top 13px
    text-align center
    margin 0 20px 0 50px
    
/* share buttons */
.social
    display block
    padding 24px 0
    line-height 10px

.social .fb-like
    margin-right 20px
    
/* my page */
.ma-sns-wrap
    margin 8px 0
    
.ma-sns-fb
    display block
    width 32px
    height 32px
    margin 0 auto
    background-image url('https://res.cloudinary.com/hcod0wyyv/image/upload/v1430837109/sns_fb_64.png')
    background-size 32px 32px
