/*! social */
/* login */
.FbBtn
    background-color #3b5998
    height 45px
    margin 0 8px
    display inline-block
    position relative
    text-decoration none
    border-radius(8px)
 
.FbBtn:after
    content ""
    position absolute
    top 12px
    left 12px
    width 20px
    height 20px
    background-image url('https://www.facebookbrand.com/img/facebook.icon.png')
    background-repeat no-repeat
    background-size 20px 20px
 
.FbBtnLabel
    color #ffffff
    position relative
    top 13px
    text-align center
    margin 0 20px 0 50px

.TwBtn
    background-color #55acee
    height 45px
    margin 0 8px
    display inline-block
    position relative
    text-decoration none
    border-radius(8px)
 
.TwBtn:after
    content ""
    position absolute
    top 8px
    left 8px
    width 32px
    height 32px
    background-image url('/img/TwitterLogo_white.png')
    background-repeat no-repeat
    background-size 32px 32px
 
.TwBtnLabel
    color #ffffff
    position relative
    top 13px
    text-align center
    margin 0 20px 0 50px

    
/* share buttons */
.social
    display block
    padding 24px 0
    line-height 10px
    width 100%

.social .fb-like
    margin-right 20px

.tw-share
    display inline-block
    iframe
        max-width 120px
    
/* my page */
.ma-sns-wrap
    margin 8px 0
    
.ma-sns-fb
    display inline-block
    width 32px
    height 32px
    margin 0 auto
    background-image url('https://res.cloudinary.com/hcod0wyyv/image/upload/img/sns_fb_64.png')
    background-size 32px 32px

.ma-sns-tw
    display inline-block
    width 32px
    height 32px
    margin 0 auto
    background-image url('https://res.cloudinary.com/hcod0wyyv/image/upload/img/sns_tw_64.png')
    background-size 32px 32px
