/*! social */
.FbBtn
    background-color #3b5998
    height 45px
    display inline-block
    position relative
    text-decoration none
    border-radius 4px
 
.FbBtn:after
    content ""
    position absolute
    top 12px
    left 12px
    width 20px
    height 20px
    background-image url('https://www.facebookbrand.com/img/facebook.icon.png')
    background-repeat no-repeat
    background-size 20px 20px
 
.FbBtnLabel
    color #ffffff
    position relative
    top 13px
    text-align center
    margin 0 20px 0 50px