/*! table */
dl
    margin-bottom 0
    
    dt
        float left
        clear left
        width 160px
        font-weight 500
        padding 5px 0

    dd
        margin-left 110px
        padding 5px 0
        font-weight 700
        
        a:link, a:visited
            text-decoration underline
