/*! Tile */
.ma-app-tile-wrap
    margin 20px 0
    
    .ma-app-tile
        border 1px solid #e9e9e9
        text-align center
        
    .ma-app-tile-image
        margin 0 auto
        
    // .ma-app-tile-toolbar
        
    .ma-app-tile-title
        background #484a65
        
        a
            color #fff
