/*! Tile */
.ma-app-tile-wrap
    margin 20px 0
    
    .ma-app-tile
        min-width 150px
        border 1px solid #e9e9e9
        background-color #fff
        text-align center
        border-radius(8px 8px 0 0)
        
    .ma-app-tile-image
        max-width 180px
        height 134px
        line-height 134px
        margin 0 auto
        img 
            max-width 155px
            max-height 132px

    .ma-app-tile-title
        padding 4px
        background #484a65
        color #fff
        overflow hidden
        white-space nowrap
        text-overflow ellipsis

    .ma-app-tile-toolbar
        padding 4px