/*! Clearfix utility class */
.clearfix
    clearfix()

/*! Base */
h2
    margin-top 0


a:link, a:visited
    color black
    text-decoration none

.sectionTitle
    font-size 18px
    font-weight bold
    margin-bottom 8px


/*! Bootstrap extend */
.btn-file
    position relative
    overflow hidden
    
.btn-file input[type=file]
    position absolute
    top 0
    right 0
    min-width 100%
    min-height 100%
    font-size 100px
    text-align right
    opacity 0
    outline none
    background white
    cursor inherit
    display block
