/*! Clearfix utility class */
.clearfix
    clearfix()

/*! Base */
h2
    margin-top 0
    font-weight bold

/*! Link */
a:link, a:visited
    color black
    text-decoration none

ul
    list-style none
    padding-left 0

ol
    li
        font-size 16px
        margin 16px 0px
        
/*! Section */
section
    p
        font-size 16px
        color #888

.sectionDesc
    margin 16px 0 8px 0
    p 
        color #888
        font-size 13px

.sectionImgWrap
    display inline-block
    margin 10px

.sectionImg
    width 184px
    // height 184px
    border-radius(8px)

/*! Login */
.ma-login-username
    img
        width 20px
        height 20px
        margin-right 4px
        
.ma-login-dropdown,
.ma-nav-notification-dropdown
    li
        position relative

/*! Tag */
/* for top page */
.ma-app-tag
    margin 20px 0
    
/* for list page */
.ma-tag
    font-weight bold
    margin-bottom 16px
    border-radius(8px)
    background-color #303f9f
    color #dedede
    display inline-block
    padding 0 10px
    font-size 14px
    
/* form */
.ma-required
    font-size 14px
    color #FF3399

.ma-right-text
    position absolute
    right 24px
    top 0
    text-decoration underline !important

.ma-markdown-preview-display
    height 200px
    padding 8px
    margin 0
    border 1px solid #ccc
    overflow auto
    
/*! Bootstrap extend */
.btn-file
    position relative
    overflow hidden
    
.btn-file input[type=file]
    position absolute
    top 0
    right 0
    min-width 100%
    min-height 100%
    font-size 100px
    text-align right
    opacity 0
    outline none
    background white
    cursor inherit
    display block
