/*! Clearfix utility class */
.clearfix
    clearfix()

/*! Base */
h2
    margin-top 0
    font-weight bold

/*! Link */
a:link, a:visited
    color black
    text-decoration none

ol, ul
    list-style none
    padding-left 0

/*! Section */
.sectionDesc
    margin 16px 0 8px 0

.sectionImgWrap
    display inline-block
    margin 10px

.sectionImg
    width 184px
    height 184px

/*! Login */
.ma-login-username
    img
        width 20px
        height 20px
        margin-right 4px
        
.ma-login-dropdown
    li
        position relative

/*! Tag */
/* for top page */
.ma-app-tag
    margin 20px 0
    
/* for list page */
.ma-tag
    font-size 18px
    font-weight bold
    margin-bottom 16px
    border-radius 10px
    background-color #303f9f
    color #dedede
    display inline-block
    padding 0 10px
    font-size 16px

/*! Bootstrap extend */
.btn-file
    position relative
    overflow hidden
    
.btn-file input[type=file]
    position absolute
    top 0
    right 0
    min-width 100%
    min-height 100%
    font-size 100px
    text-align right
    opacity 0
    outline none
    background white
    cursor inherit
    display block
