/*! layout */
.ma-layout-wrap
    padding 40px

.ma-layout
    .ma-layout-col-left
        float left
        width 25%
        min-width 200px
        padding 0 15px
        text-align center

    .ma-layout-col-right
        float left
        width 75%
        padding 0 15px

