/*! layout */
.ma-layout-wrap
    padding 40px
    background-color #f6f6f6

.ma-layout
    .ma-layout-col-left
        float left
        width 25%
        min-width 200px
        padding-right 20px
        text-align center

    .ma-layout-col-right
        float left
        width 75%
        padding 0 20px

.ma-white-wrap
    background-color #fff
    margin-bottom 20px
    padding 20px 32px

    .section-heading
        margin 24px 0

    h1
        margin-top 0
        padding-top 10px