/*! Mobile */
@media (max-width: 768px)

    .ma-layout-wrap
        padding 20px

        /* list page */     
        .ma-layout
            .ma-layout-col-left
                float none
                width 100%
                padding 0
                
            .ma-layout-col-right
                float none
                width 100%
                padding 0

            .ma-app-list-item
                &>a
                    height auto
                
                .ma-app-list-item-image
                    float none
                    width 100%

                .ma-app-list-item-content
                    margin-left 0
                
                .ma-app-list-item-toolbar
                    position static
                    
        /* Table */
        dl
            dt
                float none
                padding 0
                
            dd
                margin 0
            
    /* Login drop down */
    .navbar-default .navbar-nav .open .ma-login-dropdown.dropdown-menu>li>a
        color #fff
    
    /* for top page */    
    .ma-app-tag
        margin 20px
        
    .section-heading h1
        font-size 24px

    .FbBtnLabel
        font-size 13px