/*! Mobile */
@media (max-width: 768px)

    .ma-layout-wrap
        padding 20px 12px

        /* list page */     
        .ma-layout
            .ma-layout-col-left
                float none
                width 100%
                padding 0
                
            .ma-layout-col-right
                float none
                width 100%
                padding 0

            .ma-app-list-item
                &>a
                    height auto
                
                .ma-app-list-item-image
                    float none
                    width 100%
                    // max-width 160px
                    margin 0 auto

                .ma-app-list-item-content
                    margin-left 0
                
                .ma-app-list-item-toolbar
                    position static
                    padding 8px
                    
        .ma-white-wrap
            padding 20px 12px
            
        /* Table */
        dl
            dt
                float none
                padding 0
                
            dd
                margin 0
            
    /* Login drop down */
    .navbar-default .navbar-nav .open .ma-login-dropdown.dropdown-menu>li>a
        color #fff
    
    /* for top page */    
    .ma-app-tag
        margin 20px
    
    .section-heading
        margin 24px 0

    .section-heading h1
        font-size 24px
    
    .section-heading h3
        font-size 20px
    h4
        font-size 16px
    
    /* social */
    .FbBtn, TwBtn
        margin 4px 0

    .FbBtnLabel, .TwBtnLabel
        font-size 13px
     
    /* resized backgroud */
    .ma-section-bg
        height 240px
        
    #ma-about-bg1
        &:before
            background-image url('https://res.cloudinary.com/hcod0wyyv/image/upload/img/mobile/about_bg1.png')
        
    #ma-about-bg2
        &:before
            background-image url('https://res.cloudinary.com/hcod0wyyv/image/upload/img/mobile/about_bg2.png')

    /* register */
    form
        .form-group
            float none
            width 100%
            
    /* tile */
    .ma-app-tile-wrap
        margin 8px 0
        padding 0 4px

        .ma-app-tile
            min-width 120px

        .ma-app-tile-title
            font-size 14px
            padding 8px
            
        .ma-app-tile-image
            height 100px
            line-height 100px

            img 
                max-width 118px
                max-height 98px

    /* edit */
    .ma-app-edit-btn,
    .ma-profile-edit-update-btn
        margin-bottom 16px
        
    /* button */
    .btn-register
        right 4px
        top 38px
        
    /* occupation icons */
    .ma-constant-icon-list
        .ma-constant-icon-list-item
            vendor('flex', 0 0 132px)
        
            img
                width 48px
                height 48px

    .ma-constant-icon-list-title
        font-size 14px